*/build/
*.pdb
*.tlog
*.log
*.idb
*.opendb
*.db
*.obj
*.ilk
MyownAnswer/tutorial1/.vs/Tutorial1/v14/.suo
*.sln
*.exe
*.vcxproj
*.filters
MyownAnswer/tutorial02/.vs/Tutorial2/v14/.suo
MyownAnswer/tutorial03/.vs/tutorial03/v14/.suo
MyownAnswer/tutorial04/images/Utf8webgrowth.png
MyownAnswer/tutorial04/CMakeLists.txt
MyownAnswer/tutorial04/tutorial04.md
MyownAnswer/tutorial04/.vs/tutorial04/v14/.suo
MyownAnswer/tutorial03/.vs/tutorial03/v14/.suo
